footer {
    text-align: center;
    height: 50px;
    background-color: aliceblue;
    margin: 5px;

}
body {background-color: hsl(0, 2%, 25%);}
header { 
    text-align: center;
    height: 50px;
    background-color: azure;
    margin: 5px;
    padding: 20px;
}
nav { text-align: center;
    height: 50px;
    background-color: azure;
    margin: 5px;
    padding: 20px;
}
section {
    text-align: center;
    width: 40%;
    height: 230px;
    margin: 5px;
    background-color: aliceblue;
}
aside {
    float: right;
    width: 57%;
    height: 230px;
    background-color: white;
    margin: 5px;
}
.clearfix {
    content: ” “;
    display: block;
    clear: both;
   }

.clearfix::after{
    content: ” “;
    display: block;
    clear: both;
   }
.article { 
    background-color: gray;
       text-align: center;
       margin: 50px;
       height: 150px;
   }
#h1 {
       background-color: white;
       margin-bottom: 5px;

   }
.p {
       background-color: white;
       margin-top:5px;
   }
